@import "@/styles/theme";

.login_btn {
  height: 3.8rem;
  border: none;
  width: 11rem;
  border-radius: 2rem;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-shrink: 0;

  .login_svg {
    height: 2.8rem;
    width: 2.8rem;
    fill: white;
  }
  .login_txt {
    color: white;
    font-size: 1.8rem;
    font-weight: $bold;
  }
}
